.card {
  max-width: 413px;
}
.card__image {
  height: 413px;
  width: 413px;
  border-radius: 12px;
  object-fit: cover;
  display: block;
}
.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card__name {
  margin: 12px 0 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 353px;
}
.card__like-button {
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  background: url("./grayheart.svg") no-repeat center/contain;
  opacity: 0.4;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.card__like-button:hover {
  opacity: 1;
  transform: scale(1.1);
}

.card__like-button.liked {
  background: url("./redheart.svg") no-repeat center/contain;
}

.card__like-button.liked:hover {
  background-image: url("./pinkheart.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  opacity: 1;
  transform: scale(1.1);
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
    width: 288px;
  }
}
