.profile {
  display: flex;
  justify-content: center;
  max-width: 1280px;
  margin: 0 auto;
  padding: 34px 0 20px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.4);
}
.profile__avatar {
  width: 190px;
  height: 190px;
  margin-right: 20px;
  border-radius: 12px;
  object-fit: cover;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  margin: 0 0 12px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__description {
  margin: 0;
  opacity: 0.8;
  font-family: Poppins-medium, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__edit-button {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  background: none;
  border: none;
  color: #444;
  font-family: "Inter", sans-serif;
  cursor: pointer;
  padding: 0;
  margin-top: auto;
}

.profile__edit-button img {
  width: 20px;
  height: 20px;
}

.profile__add-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 149px;

  height: 52px;
  background-color: #1a1a1a;
  color: #fcf5e5;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  line-height: 1;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  white-space: nowrap;
  transition: background 0.3s ease;
  margin-left: auto;
  margin-top: auto;
}

.profile__add-button:hover {
  background-color: #333;
}

.profile__add-button img {
  width: 16px;
  height: 16px;
}

@media screen and (max-width: 768px) {
  .profile {
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
  }

  .profile__avatar {
    margin: 0 0 20px;
  }

  .profile__column {
    align-items: center;
  }

  .profile__name {
    margin: 0 0 12px;
    font-weight: 500;
    font-size: 32px;
    line-height: 1;
  }

  .profile__edit-button {
    margin-top: 16px;
  }

  .profile__add-button {
    margin-left: 0;
    margin-top: 20px;
  }
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
  }
  .profile__avatar {
    margin: 0 0 12px;
    height: 80px;
    width: 80px;
  }

  .profile__name {
    margin: 0 0 6px;
    font-size: 20px;
    max-width: 288px;
  }

  .profile__description {
    margin: 0 0 32px;
    opacity: 0.8;
    font-size: 16px;
    max-width: 288px;
  }

  .profile__column {
    margin: 0 0 20px;
  }

  .profile__add-button {
    margin-left: 0;
    max-width: 288px;
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .profile__avatar {
    width: 150px;
    height: 150px;
  }

  .profile__name {
    font-size: 20px;
  }

  .profile__description {
    font-size: 14px;
  }

  .profile__edit-button,
  .profile__add-button {
    font-size: 14px;
  }

  .profile__edit-button img,
  .profile__add-button img {
    width: 16px;
    height: 16px;
  }
}
